.text-primary {
    color: #0CDA90 !important;
  }
  .btn-primary {
    color: #fff;
    background-color: #0CDA90;
    border-color: #0CDA90;
  }
  .btn-primary {
    box-shadow: 0 3px 2px rgb(12 218 144 / 20%);
  }